.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  font-weight: 500;
  font-size: 1.5rem;
}

header img{
  height: 40px;
  width: 130px;
}

.signupbox {
  height: 620px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 591px;
  width: 348px;
  border: 1px solid gray;
  /* background-color: #f9f9f9; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbox{
  height: 100%;
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.spanbox{
  height: 57px;
  width: 296px;
  border-top: 1px solid gray;
  text-align: left;
}

.spanbox p{
  font-size: 14px;
  font-weight: 700;
}

.spanbox p span{
  color: #455ed9;
  font-weight: normal;
}

.alac{
  cursor: pointer;
  width: 296px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0.5px 0.5px 2px 0.5px;
  font-size: 17px;
}

.alac span{
  color: #455ed9;
}

.alac:hover span{
  text-decoration: underline;
}


input{
  width: 296px;
  height: 31px;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
}

.signbtn{
  width: 100%;
  height: 31px;
  background-color: #F2CD13;
  border-radius: 10px;
  border: none;
  font-size: 17px;
}

.veryinfo{
  font-size: 13px;
  text-align: left;
  font-weight: 400;
}

.agreement{
  font-size: 13px;
  text-align: left;
}

.agreement span, .help{
  color: #455ed9;
  text-decoration: underline;
}

.loginbigbox {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginbox{
  height: 500px;
  width: 348px;
  border: 1px solid gray;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginmainbox{
  height: 100%;
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.crac{
  width: 348px;
  height: 31px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0.5px 0.5px 2px 0.5px;
  font-size: 17px;
  cursor: pointer;
}

footer{
  height: 90px;
  width: 100%;
  border-top: 1px solid #E5E5E5;
  background-color: #FCFCFC;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info{
  font-size: 12px;
  font-weight: 500;
  color: #455ed9;
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 240px;
}

.credit{
  font-size: 12px;
}